
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
}

.container-fluid {
    padding: 50px 50px;
}

section {
    padding-top: 25px;
    padding-bottom: 50px;
}

.hidden {
  display: none;
}

/*---------------------------------------------------------------------------*/
/* Navbar                                                                    */
/*---------------------------------------------------------------------------*/

.navbar {
    margin-bottom: 0;
    background-color: #18294D;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #18294D !important;
    border-bottom: 5px solid #00aae5;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*---------------------------------------------------------------------------*/
/* Home                                                                      */
/*---------------------------------------------------------------------------*/

.jumbotron {
    background-color: #18294D;
    color: #fff;
    padding: 100px 25px 50px 25px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
}

.grayscale-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*---------------------------------------------------------------------------*/
/* Colors                                                                    */
/*---------------------------------------------------------------------------*/

.bg-grey {
    background-color: #f6f6f6;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

/*---------------------------------------------------------------------------*/
/* Icons                                                                     */
/*---------------------------------------------------------------------------*/

.fa-2x {
  vertical-align: top;
}

.fa-6x {
  font-size: 6em;
}

.icon:not(.fa-stack) {
    line-height: 75px;
}

/*---------------------------------------------------------------------------*/
/* Portfolio                                                                 */
/*---------------------------------------------------------------------------*/

.thumbnail {
    padding: 0;
    border-radius: 0;
    transition: box-shadow .3s ease-in-out;
}

.thumbnail:hover {
  cursor: pointer;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.portfolio-item-download-link {
  border-radius: 6px;
  transition: box-shadow .3s ease-in-out;
  display: inline-block;
}

a[href="https://itunes.apple.com/nz/app/junction-mobile/id1065381408?mt=8"] {
  margin: 48px 0 22px;
}

a[href="https://itunes.apple.com/nz/app/q-card-mobile/id937958077?mt=8"] {
  margin: 24px 0 22px;
}

a[href="https://itunes.apple.com/nz/app/pastel-planner/id1069141657?mt=8"] {
  margin: 0 0 22px;
}

a[href="https://itunes.apple.com/nz/app/hows-it-going/id885669136?ls=1&mt=8"] {
  margin: 48px 0 22px;
}

.modal {
  z-index: 9999;
}

.modal-content {
  top: 40px;
  border-radius: 0;
}

.modal-body {
    padding: 3px;
}

@media(min-width: 768px) {
  .modal-dialog {
    width: 400px;
  }
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control {
  opacity: 1.0;
  text-shadow: none;
}

.carousel-control:hover {
  opacity: 1.0;
}

.carousel-control .slide-button {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #fff;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    background-color: #00AAE5;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    /*-webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;*/
    transition: ease-in-out box-shadow .3s;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

.carousel-control .slide-button:hover {
    opacity: 1.0;
    box-shadow: 2px 8px 8px 0 rgba(0,0,0,0.2),2px 9px 10px 0 rgba(0,0,0,0.19);
}

button.close {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    top: 6px;
    right: 6px;
    line-height: 24px;
    background-color: #d84d4d;
    opacity: 1.0;
    text-shadow: none;
    color: white;
    transition: ease-in-out box-shadow .3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

.close:focus, .close:hover {
    box-shadow: 2px 8px 8px 0 rgba(0,0,0,0.2),2px 9px 10px 0 rgba(0,0,0,0.19);
    color: white;
    opacity: 1.0;
    outline: none;
}

#portfolio p {
  font-size: 0.9em;
  text-align: justify;
}

/*---------------------------------------------------------------------------*/
/* Interests                                                                 */
/*---------------------------------------------------------------------------*/

#interests p {
  text-align: left;
}

/*---------------------------------------------------------------------------*/
/* Contact me                                                                */
/*---------------------------------------------------------------------------*/

.contact-me-text {
  font-size: 1.2em;
  margin-left: 15px;
}

.contact-link {
  text-decoration: none;
  color: #818181;
}

.contact-link:hover {
  color: #00aae5 !important;
  text-decoration: none;
}

.form-control {
  border-radius: 0;
  resize: none;
}

/*---------------------------------------------------------------------------*/
/* Foooter                                                                   */
/*---------------------------------------------------------------------------*/

footer {
    background-color: grey;
    height: 50px;
    padding: 0px !important;
}

/*---------------------------------------------------------------------------*/
/* Buttons                                                                   */
/*---------------------------------------------------------------------------*/

.dmtop {
    background-color: #00AAE5;
    z-index: 999;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    /*-webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;*/
    transition: ease-in-out background-color .3s, box-shadow .3s, bottom 0.7s;
    overflow: auto;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

.dmtop:hover {
    box-shadow: 2px 8px 8px 0 rgba(0,0,0,0.2),2px 9px 10px 0 rgba(0,0,0,0.19);
}

.dmtop:active {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
  background-color: #337ab7;
}

.dmtop i {
    color: #fff;
    font-size: 28px;
    line-height: 35px;
    padding-left: 11px;
    text-align: center;
}

.button {
  color:#fff;
  background-color: #00AAE5;
  transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 40px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.8em;
  margin-left: 15px;
  border-radius: 0;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

.button:active {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
  background-color: #337ab7;
}

/*---------------------------------------------------------------------------*/
/* Animations                                                                */
/*---------------------------------------------------------------------------*/

.slideanim {
  visibility:hidden;
}

.slide-up {
    animation-name: slid-up;
    -webkit-animation-name: slide-up;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.scale-anim {
  /*visibility:hidden;*/
  opacity: 0.5;
  transform: scale(0.8, 0.8);
}

.scale {
    animation-name: scale;
    -webkit-animation-name: scale;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes scale {
    0% {
      opacity: 0.5;
      transform: scale(0.8, 0.8);
    } 
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
}
@-webkit-keyframes scale {
    0% {
      opacity: 0.5;
      -webkit-transform: scale(0.8, 0.8);
    } 
    100% {
      opacity: 1;
      -webkit-transform: scale(1, 1);
    }
}

/*---------------------------------------------------------------------------*/
/* Responsive                                                                */
/*---------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
/*
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}
*/